In [51]:
import pandas as pd
import numpy as np
import os
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, RepeatedStratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.metrics import f1_score, classification_report, silhouette_samples, silhouette_score
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier, LocalOutlierFactor
from sklearn.naive_bayes import CategoricalNB
from sklearn.svm import SVC
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.ensemble import IsolationForest
import umap
from mpl_toolkits.mplot3d import Axes3D
from datetime import datetime
import datetime
from dateutil.parser import parse
import matplotlib.pyplot as plt
import matplotlib.cm as cm
plt.rc("font", size=14)
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", 
        color_codes=True, 
        font_scale = 2)

In [3]:
os.chdir('/Users/patrickrs/Documents/GitLab/patrick-steiner/Exercises')

In [7]:
data = pd.read_csv("/Users/patrickrs/Documents/GitLab/patrick-steiner/Exercises/data/card_transactions.csv",
                  delimiter = ",",
                  index_col = "customer_id",
                  #dtype = "float64",
                  verbose = True
                  )

Tokenization took: 10.57 ms
Type conversion took: 11.85 ms
Parser memory cleanup took: 0.02 ms

In [8]:
data.head()

,balance_account,purchases_amount,paid_advance,full_purchases,balance_frequency_update,installments,purchases_frequency,full_purchases_frequency,purchases_installments_frequency,cash_advance_frequency,nr_cash_advances,nr_purchases,credit_limit,fixed_rate_period,payments,min_payments,full_payment_prc
customer_id,,,,,,,,,,,,,,,,,
tGEg8fT2eCgVxdwS,9.298409,107.60,0.000000,0.00,0.909091,107.6,0.909091,0.000000,0.818182,0.000000,0,10,1000.0,11,89.868853,89.711672,0.428571
stEDu20sSKOXomjg,52.666422,150.30,0.000000,0.00,1.000000,150.3,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,6,54.722514,82.955180,0.000000
CEB2blrN3b88GsRe,1360.795674,0.00,462.861443,0.00,1.000000,0.0,0.000000,0.000000,0.000000,0.272727,6,0,1500.0,11,303.031979,443.781316,0.000000
0N0eBl8ySaZThxKE,2021.641161,363.18,0.000000,363.18,1.000000,0.0,1.000000,1.000000,0.000000,0.000000,0,13,2000.0,12,704.240770,795.859808,0.000000
6NLauoHUwtwOv4Wy,22.322374,95.00,1162.045833,95.00,0.363636,0.0,0.083333,0.083333,0.000000,0.166667,3,1,2500.0,12,4094.261427,40.142262,0.000000

In [13]:
data.index.is_unique

True

In [56]:
data.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

In [34]:
for i in range(0, len(data.index)):
    if data["payments"][i] == 0:
        data["min_payments"][i] = 0

/opt/anaconda3/envs/propulsion/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [39]:
data[data["credit_limit"].isna() == True]

,balance_account,purchases_amount,paid_advance,full_purchases,balance_frequency_update,installments,purchases_frequency,full_purchases_frequency,purchases_installments_frequency,cash_advance_frequency,nr_cash_advances,nr_purchases,credit_limit,fixed_rate_period,payments,min_payments,full_payment_prc
customer_id,,,,,,,,,,,,,,,,,
c2AkRIIj9f7hgiXZ,18.400472,0.0,186.853063,0.0,0.166667,0.0,0.0,0.0,0.0,0.166667,1,0,NaN,6,9.040017,14.418723,0.0

In [42]:
data["credit_limit"].mean()

4485.8487035313565

In [50]:
data["credit_limit"] = data["credit_limit"].fillna(data["credit_limit"].mean())

In [52]:
imputer = KNNImputer(n_neighbors=3)

In [53]:
data = imputer.fit_transform(data)

In [59]:
data = pd.DataFrame(data)

In [64]:
data.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
dtype: object